= image_tag(field.preview_image(current_form.object)) if field.has_image?(current_form.object)
= content_tag(:span, { class: 'actions'}) do
  = current_form.file_field field.name
  = current_form.hidden_field field.cache_name
  - if current_form.object.send(field.name).present?
    = content_tag(:div, class: 'remove_checkbox') do
      = current_form.check_box "remove_#{field.name}"
      = current_form.label "remove_#{field.name}", I18n.t("components.lolita.configuration.field.file.remove_current_upload")
= content_tag(:div, "", class: 'clear')
